*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    color: white;
}
body{
    background: rgb(14, 13, 13);
    overflow-x: hidden;
    overflow-y:scroll ;
}
header{
    display: flex;
    gap: 5rem;
    padding: 20px;
    align-items: center;
    background: black;
}
.logo{
    font-size: 3rem;
    font-family: arial;
    font-weight: 800;


}
.logo::first-letter{
    color: #ff8000;
    font-size: 3rem;
}
.input{

    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    margin-top: 2rem;
    text-align: center;
    margin-left: -10rem;
    backdrop-filter: brightness(30%);
    position: absolute;
    z-index: 2;
    

   
}
.searchbar{
    padding: 5px;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
    margin: 5px;
    caret-color: aliceblue;
    
}
.input button{
    background: orange;
    padding: 5.2px;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.input button:active{
scale: 0.7;
}

.fa-search{
    font-size:2rem ;
    color: orange;
}
.fa-bars{
    font-size: 2rem;
    margin-left: -6rem;
    /* position: absolute; */
}
.fa-bars:active{
    scale: 0.8;
}

.menu{
    width: 100%;
    height: 100rem;
    /* background: white; */
    margin-left: -2rem;
    margin-top: -3rem;
    position: absolute;
    z-index: 7;
    display: none;
    transition: 1s ease-out;
    

}
ul{
    margin-top: 55rem;
    
    z-index: 8;
    background: black;
    width: 20rem;
    height: 100rem;
    padding: 3rem;
    position: fixed;



}  
.close{
    cursor: pointer;
}

li{
    margin-top: 3rem;
    list-style:none ;

}
a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a:focus{
    color: orange;
}
.menuToggle{
margin-left: -38rem;
}
.input-toggle{
    display: block;
}
.body{
    border: 1px solid white;
    height: 30rem;
}

/* body */

.banner img{
    width:100% ;
    filter: brightness(50%);    
}
.name{
    margin-top: -18rem;
    padding: 15px;
    position: absolute;
    
}
.name h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
}
.pannel{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(6px);
    /* backdrop-filter: brightness(40%); */


    left: -6%;
    z-index: 4;
    width: 100%;
    
    position: fixed;
    bottom: 0;
}
.pannel div{
    margin: 1rem;
    text-align: center;
    margin-left: 4rem;
}
.pannel div i{
    font-size: 2rem;
    color: #ff8000;
}
.pannel div p{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.side-icon{
    float: right;
}
.side-icon i{
    font-size: 2rem;
    margin:1rem;
    border: 1px solid ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* background:#dc4d01; */
    background: #ff8000;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}
.explore{
    text-align: center;
    margin-top: 2rem;
    margin: 1rem;

}
.explore h1{
    font-size: 2.5rem;
}
.hot{
    font-size: 2.5rem;
    color: #ff8000;
    font-family: arial;
    font-weight: 800;

}
footer{
    margin-top: 10rem;
    text-align: center;
    background: black;
    height: 120rem;
}
.con{
    display: flex;
    text-align: justify;
    margin-top: 2rem;
}
.contact{
    border: 1px solid grey;
    padding: 2rem;
    width: 80%;
    margin: 2rem;
    margin-top: 3rem;

}
.con i{
    border: 1px solid #ff8000;
    text-align: center;
    width: 5rem;
    height: 5rem;
    margin-right:1rem ;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5rem;
}
span h3{
    font-size: 1.6rem;
   margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
span p{
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brands h1{
font-size: 3rem;
font-family: arial;
color: #ff8000;
font-weight: 800;
margin: 1rem;

}
.brands p{
    font-size:1.7rem ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 2rem;
}
.brands i{
    font-size: 2.5rem;
    margin: 1rem;
    color: #ff8000;
}
.brands i:hover{
    color: white;
}
.brands{
    text-align: justify;
    padding: 2rem;
}
.other{
    display: flex;
    justify-content:left;
    /* align-items: center; */
    gap: 10rem;
    margin: 3rem;


}
.other h2{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.other li{
    font-size: 1.4rem;
}
.other a{
    color: white;
}
li{
    list-style:square;
    color: #ff8000;
}
hr{
    border: 1px solid #ff8000;
    


}
.copyright{
    padding: 2rem;
}
.copyright p{
    font-size: 1.5rem;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
img:hover{
    filter: brightness(50%);
}
marquee{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
.close{
    font-size: 3rem;
    float: right;
}
.FAQS-topic{
    text-align: center;
    font-size: 2rem;
    font-family: arial;
    margin-top: 3rem;

}
.FAQS-sub{
    text-align: center;
    font-size: 1.5rem;
    font-family: arial;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.question{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    border: none;
    /* border-top:1px solid grey; */
}
.questions{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.question p{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.question span{
    font-size: 1.8rem;
}
.answer1,.answer2,.answer3,.answer4,.answer5{
display: none;
}
.toggle1{
    display: block;
    margin-left: 2rem;
    padding: 2rem;
    
}
.plus,.plus2,.plus3,.plus4,.plus5{
    font-size: 3rem;
    font-weight: 700;
}
.FAQS hr{
    border: 1px solid grey;
    opacity: 20%;
}
.in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}















@media(min-width:320px){
    header{
        gap: 5rem;
    }
   
    .fa-bars{
        margin-left: 1rem;
    }
    .side-icon i{
        position: fixed;
        z-index: 4;
      }
      input{
        background: transparent;
        border: none;
        border-bottom: 1px solid grey;
        width: 70%;
        outline: none;
        font-size: 1.5rem;
      }
      input::placeholder{
        color: white;
       
      }
      textarea{
        background:transparent;
        border: none;
        border-bottom: 1px solid grey;
        margin-bottom: 2rem;
        width:70%;
        outline: none;
        font-size: 1.5rem;
      }
      textarea::placeholder{
        color: white;
      }
      button{
        background: #ff8000;
        color: black;
        width: 15rem;
        border: none;
        border-radius: 8px;
        padding: 5px;
        font-weight: 800;
        font-size: 1.3rem;
    
    }
      
.form input{
    background: transparent;
    
    }
    .in-touch h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
@media(min-width:470px){
    .fa-bars{
        margin-left: 7rem;
    }
    .banner img{
        height: 25rem;
    }
}

@media(min-width:530px){
    .fa-bars{
        margin-left: 12rem;
    }
}

@media(min-width:600px){
    .fa-bars{
        margin-left: 20rem;
        font-size: 2.3rem;

    }
    .fa-search{
        margin-left: rem;
    }
    ul{
        position: fixed;
    }
    ul li{
        list-style: none;
    }
    footer{
        height: 107rem;
    }
   .form input{
    width: 40rem;
   }
   textarea{
    width: 40rem;
   }
  
}
@media(min-width:670px){
  
    .pannel{
        height: 5rem;
    }
}
@media(min-width:740px){
    .fa-bars{
        margin-left: 26rem;
    }
   
    .contact{
        display: flex;
        width: 96%;
    }
    .con{
        margin-right: 3.3rem;
    }
    /* .other-explore{
        display: none;
    } */
     .pannel div{
        margin-right: 4rem;
     }
     .pannel{
        width: 100%;

    }
    input{
        width: 50%;
    }
    textarea{
        width: 50%;
    }
}
@media(min-width:832px){
    .fa-bars{
        margin-left: 36rem;
    }
  
    .container{
        display: flex;
    }
    .other-explore{
        display: none;
    }
    .process{
        grid: auto/auto auto auto auto;
    }
   
}
@media(min-width:1000px){
    .fa-bars{
        margin-left: 50rem;
    }  
    .pannel{
    /* right: 0; */
    top: 33%;
    left: 92%;
    display: block;
    height: 30rem;
    width: 5rem;
    /* gap: 7rem; */
    margin-left: -4rem;
    backdrop-filter: none;
    }
    .pannel .message{
        margin-bottom: 4rem;
    }
   
    footer{
        height: 50rem;
    }
   
    .fa-bars{
        margin-left: 60rem;
    }
    .banner img{
        height: 40rem;
    }    
    .name h1{
        font-size: 5rem;
    }
 

}
@media(min-width:1280px) {
  
    .pannel div i{
        font-size: 3rem;
    }
    .pannel div i:hover{
        color: white;
        scale: 1.2;
    }
    .pannel div p{
        font-size: 1.5rem;
    }
    ul li a:hover{
        color: #ff8000;
        font-size: 2rem;
    }
    .fa-bars{
        margin-left: 50rem;
        font-size: 3rem;
        position: relative;
    }
    .fa-search{
        font-size: 3rem;
        
    }
    .search{
        margin-left: 30rem;
    }
 
  .side-icon i{
    position: fixed;
    z-index: 6;
  }
  .process{
    grid: auto/auto auto auto auto auto;
}
 
 
}